body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background-image: url("design-space-paper-textured-background.jpg");
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: right;
    transform: scale(1.5); /* Adjust zoom level (e.g., 1.2 = 20% zoom) */
    transform-origin: center
}

.paper{
    position: absolute;
    top: 0;
    z-index: -1;
}

.textbox {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black; /* Choose a color that contrasts with your iframe's content */
    z-index: 2; /* Ensures text appears on top */
}

.Bigtitle {
    font-size: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.Smalltitle {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #7e4edd9d; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px; /* Rounded corners */
    padding: 10px;
    margin: 4px;
    align-items: center;
}

.navbar ul li {
    margin: 0px 10px 0px 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: black; /* Highlight on hover */
}

#icon{
    width: 30px;
    cursor: pointer;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .navbar .menu-toggle {
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
    }
}

.sec1{
    
    top: 0;
    width: 100%;
    height: 500px;
}